.address-conteiner {
  margin-left: auto;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-link-logo {
  margin-right: 85px;
  font-family: $logo-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: $title-text-color;
}
.navigation-link-logo {
  padding-top: 24px;
  padding-bottom: 25px;
  animation-duration: 2000ms;
  animation-timing-function: linear;
}
.navigation-list,
.navigation-adress,
.navigation-address-list {
  display: flex;
}
.navigation-address-list:not(:last-child) {
  margin-right: 30px;
}
.navigation-list-link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: $title-text-color;
}
.navigation-list-item {
  position: relative;
}
.navigation-list-item .active::after {
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  background: $accent-color;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
}
.active {
  color: $accent-color;
}
.navigation-address-link {
  padding-top: 32px;
  padding-bottom: 32px;
  fill: $text-white-theme-color;
  color: $text-white-theme-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}
.navigation-social-link-picture {
  margin-right: 10px;
}
.navigation-address-link:focus,
.navigation-address-link:hover {
  color: $accent-color;
  fill: $accent-color;
}
.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}
.footer-logo .web,
.navigation-link-logo .web {
  color: $accent-color;
}
