.what-are-we-doing .conteiner {
  padding-bottom: 94px;
}
.what-are-we-doing-title {
  margin-bottom: 50px;
}
.what-are-we-doing-list {
  display: flex;
  text-align: center;
  justify-content: center;
}
.what-are-we-doing-item {
  max-height: 294px;
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.what-are-we-doing-text {
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  text-transform: uppercase;
  color: $text-dark-theme-color;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
}
